.skeleton-loader {
    background-color: #e0e0e0;
    animation: skeleton-loading 1.2s infinite;
}


@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #f0f0f0;
    }
    100% {
        background-color: #e0e0e0;
    }
}

.expand-animation-1{
    animation: expand1 1s ease-in-out infinite backwards;
}

@keyframes expand1 {
    0%{
        height: 0%;
        width: 0%;
    }
    50%{
        height: 100%;
        width: 100%;
    }
    100%{
        height: 0%;
        width: 0%;
    }
}

.op-animation{
    animation: op 300ms linear;
}


@keyframes op {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}