@media only screen and (max-width: var(--mobile-small)) {

}

@media only screen and (min-width: var(--mobile-medium)) and (max-width: var(--mobile-large)) {

}

@media only screen and (min-width: var(--mobile-large)) and (max-width: var(--desktop)) {

}

@media only screen and (min-width: var(--desktop)) {

}
  

/* padding */
.p-1 {padding: 0.25rem;}
.p-2 {padding: 0.5rem;}
.p-3 {padding: 1rem;}
.p-4 {padding: 1.5rem;}
.p-5 {padding: 2rem;}
  
/* Contenedores */
.container-sm {
    width: 100%;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container-md {
    width: 100%;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container-lg {
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container-xl {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
  
/* positions */

.relative{position: relative;}
.sticky{position: sticky;}
.fixed{position: fixed;}

.top-0{top: 0;}
.left-0{left: 0;}
.rigth-0{right: 0;}
.bottom-0{bottom: 0;}

/* layout */
.flex{display: flex;}
.flex>*{flex: 1;}

.row{display: flex;flex-direction: column;}
.col{display: flex;flex-direction: row;}
.col-1{flex-grow: 1;}
.col-2{flex-grow: 2;}
.col-3{flex-grow: 3;}
.col-4{flex-grow: 4;}
.col-5{flex-grow: 5;}
.col-6{flex-grow: 6;}
.col-7{flex-grow: 7;}
.col-8{flex-grow: 8;}
.wrap{flex-wrap: wrap;}

.grid{display: grid;}

.layout-auto{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,15rem),1fr));    
    grid-auto-rows: minmax(100px,300px);
}

.gap-1{gap: .5em;}
.gap-2{gap: 1em;}
.gap-3{gap: 3em;}

.justify-center{justify-content: center;}
.justify-around{justify-content: space-around;}
.justify-between{justify-content: space-between;}

.align-center{align-items: center;}


/* backgorund and colors*/


.bg-primary{background-color: var(--background-primary);}
.bg-secondary{background-color: var(--background-secondary);}

.succes{color: rgb(40, 214, 83);}
.hrcolor{color: rgba(10, 10, 10, 0.103);}
  

/* sizes */
.w-full{width: 100%;}

.min-w-100{min-width: 100px;}
.min-w-200{min-width: 200px;}
.min-w-300{min-width: 300px;}
.min-w-400{min-width: 400px;}
.min-w-600{min-width: 600px;}

.max-w-100{max-width: 100px;}
.max-w-250{max-width: 250px;}
.max-w-275{max-width: 275px;}
.max-w-150{max-width: 150px;}
.max-w-175{max-width: 175px;}
.max-w-200{max-width: 200px;}
.max-w-300{max-width: 300px;}
.max-w-400{max-width: 400px;}
.max-w-450{max-width: 450px;}
.max-w-500{max-width: 500px;}
.max-w-600{max-width: 600px;}

.h-200{height: 200px;}
.h-500{height: 500px;}
.h-full{height: 100%;}
.h-all{height: 100vh;}


/* object */
.object-center{object-position: center;}
.object-contain{object-fit: contain;}
.object-cover{object-fit: cover;}

/* aspect */

.aspect-1-2{aspect-ratio: 1/2;}
.aspect-2-3{aspect-ratio: 2/3;}
.aspect-4-3{aspect-ratio: 4/3;}
.aspect-3-9{aspect-ratio: 3/9;}
.aspect-6-9{aspect-ratio: 6/9;}
.aspect-7-4{aspect-ratio: 7/4;}
.aspect-20-15{aspect-ratio: 20/15;}


/* text */
.text-theme{color: var(--color-text-primary);}
.text-cl-secondary{color: var(--color-text-secondary);}

.small-text{font-size: small;}
.medium-text{font-size: medium;}
.text-nowrap{white-space: nowrap;}
.text-ellipsis{text-overflow: ellipsis;}

.no-link{color: var(--color-text-primary);text-decoration: none;}

/* .text-wrap{
    text-overflow:;
} */


/* buttons and inputs */
.btn{
    background: none;
    cursor: pointer;
    border: none;
}



/* border */
.b-05{border: 1px solid var(--border-secondary);}
.b-1{border: 1px solid var(--border-primary);}

/* border-raidus */
.br-1 {border-radius: .5rem;}
.br-2 {border-radius: .25rem;}
.br-3 {border-radius: .75rem;}
.br-4 {border-radius: 1rem;}
.br-5 {border-radius: 1.5rem;}
.br-6 {border-radius: 2rem;}


/* overflow */

.overflow-hidden{overflow: hidden;}

